@font-face {
  font-family: 'Arcon-Regular';
  src: url("../fonts/Arcon-Regular.otf"); }
table {
  font-size: 0.8em;
  margin: 0 auto; }
  @media screen and (min-width: 640px) {
    table {
      font-size: 1.6em;
      margin: 0 auto; } }
  table td, table th {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 60px;
    height: 50px;
    margin: 5px; }
    @media screen and (min-width: 640px) {
      table td, table th {
        display: inline-block;
        padding: 10px;
        width: 200px;
        height: 120px; } }
  table td {
    font-size: 1.7em;
    color: #45b0c4; }
    @media screen and (min-width: 640px) {
      table td {
        font-size: 2em; } }
    table td span {
      font-size: 0.4em;
      font-weight: normal;
      display: block;
      color: #2a272c; }
  table th:nth-child(2) {
    border-right: 1px solid rgba(139, 144, 157, 0.18);
    border-left: 1px solid rgba(139, 144, 157, 0.18); }
  table .min {
    display: inline-block;
    font-size: 1em; }
  table .max {
    display: none; }
  table .number {
    width: 50px;
    text-transform: uppercase;
    text-align: center; }
    table .number .nbr {
      font-size: 1.6em;
      display: block; }
  table .name-row th {
    height: auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase; }

table#grafik td {
  text-transform: uppercase;
  background: #213864;
  height: 70px;
  text-align: center; }
  table#grafik td p {
    font-size: 0.7em;
    margin-bottom: 0.2em; }
table#grafik .name-row th {
  font-size: 1em; }

@media (min-width: 767px) {
  table#grafik td {
    text-transform: uppercase;
    background: #213864;
    height: 150px; }
    table#grafik td p {
      font-size: 0.5em;
      margin-bottom: 0.2em; }
  table#grafik .name-row th {
    height: auto; } }
@font-face {
  font-family: 'Arcon-Regular';
  src: url("../fonts/Arcon-Regular.otf"); }
body {
  width: 100%;
  height: 100%; }

* {
  font-family: "Arcon-Regular";
  z-index: 1; }

html {
  width: 100%;
  height: 100%;
  font-size: 18px; }
  @media screen and (min-width: 640px) {
    html {
      font-size: 18px; } }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 20px; } }

h1 {
  font-size: 2em;
  text-align: center; }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 5em; } }

h2 {
  font-size: 2em;
  text-align: center; }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 3.5em; } }

h3 {
  font-size: 1.6em;
  text-align: center; }
  @media screen and (min-width: 640px) {
    h3 {
      font-size: 2.5em; } }

ul li {
  list-style: none; }

.sea_blue {
  color: #a5d6dd !important; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f6f6f6 !important; }

/**************/
/* BASE RULES */
/**************/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.row-margin {
  margin-top: 1em;
  margin-bottom: 1em; }

.navbar {
  background: #f6f6f6; }
  .navbar .page-scroll, .navbar .collapse .page-scroll {
    color: black;
    text-transform: uppercase; }
  .navbar #social {
    display: block; }
    .navbar #social i {
      font-size: 1.5em;
      color: #f6f6f6;
      padding: 0.2em 0.4em; }

.navbar-fixed-top {
  border: none; }

.section {
  height: 260px;
  padding-top: 50px; }
  @media screen and (min-width: 640px) {
    .section {
      height: 100%;
      padding-top: 50px !important;
      text-align: center;
      background: #f6f6f6; } }
  .section h2 {
    margin-bottom: 1em; }

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
.section_head {
  color: #a5d6dd; }

#intro {
  background: transparent url("../img/intro-bg.jpg") center;
  background-size: 250%;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-box-shadow: inset 0px -16px 54px -34px #212e58;
  -moz-box-shadow: inset 0px -16px 54px -34px #212e58;
  box-shadow: inset 0px -16px 54px -34px #212e58; }
  #intro #intro-head {
    font-size: 2.2em;
    margin: 0 auto; }
    #intro #intro-head #spin {
      width: auto;
      z-index: -2;
      margin-left: 1em; }
    #intro #intro-head #aero {
      z-index: 10;
      margin-left: 0em;
      margin-bottom: -1.5em; }
    #intro #intro-head #aero:before {
      content: "&";
      position: absolute;
      z-index: -1;
      color: #a5d6dd;
      font-size: 4em;
      margin-left: 0.7em;
      margin-top: -0.3em; }
  #intro #arrow-down {
    padding: 1em;
    box-sizing: border-box;
    background: transparent;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 2px #f6f6f6 solid;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    margin-top: -50px; }
    #intro #arrow-down .fa {
      color: #f6f6f6 !important;
      font-size: 3em;
      transition: all 1s ease; }
    #intro #arrow-down :hover .fa {
      font-size: 3.5em; }
  @media screen and (min-width: 640px) {
    #intro {
      background-size: 100%;
      display: block; }
      #intro #intro-head {
        font-size: 6.3em;
        line-height: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15% auto 0 auto;
        width: 70%; }
        #intro #intro-head #spin {
          width: auto;
          z-index: -2;
          margin-left: 1em; }
        #intro #intro-head #aero {
          z-index: 10;
          margin-left: -1.5em;
          margin-bottom: -1.5em; }
        #intro #intro-head #aero:before {
          content: "&";
          position: absolute;
          z-index: -1;
          color: #a5d6dd;
          font-size: 4em;
          margin-left: 0.7em;
          margin-top: 0.1em; }
      #intro #arrow-down {
        width: 70px;
        height: 70px;
        border: 2px #f6f6f6 solid;
        border-radius: 50%;
        position: absolute;
        top: 90%;
        margin-top: -50px; }
        #intro #arrow-down .fa {
          color: #f6f6f6 !important;
          font-size: 3em;
          transition: all 1s ease; }
        #intro #arrow-down :hover .fa {
          font-size: 3.5em; } }

#about {
  overflow-x: hidden; }
  #about h2 {
    color: #213864; }
  #about #photo_aqua {
    max-height: 400px;
    width: 100%; }

#ofert {
  height: 800px; }
  @media screen and (min-width: 640px) {
    #ofert {
      height: auto; } }

.boxes_4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: inset 0px 5px 87px 67px #212e58;
  -moz-box-shadow: inset 0px 5px 87px 67px #212e58;
  box-shadow: inset 0px 5px 87px 67px #212e58; }
  @media screen and (min-width: 640px) {
    .boxes_4 {
      width: 100%;
      height: 100%;
      flex-direction: row;
      flex-wrap: wrap; }
      .boxes_4 .box_left {
        justify-content: flex-start;
        text-align: left; }
      .boxes_4 .box_right {
        justify-content: flex-end;
        text-align: right; } }
  .boxes_4 .box_1_4 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; }
    .boxes_4 .box_1_4 h3 {
      color: #f6f6f6;
      text-transform: uppercase; }
      .boxes_4 .box_1_4 h3 span {
        display: block; }
    .boxes_4 .box_1_4 .hidden {
      display: none; }
    @media screen and (min-width: 640px) {
      .boxes_4 .box_1_4 {
        width: 50%;
        height: 50vh;
        background: #a5d6dd;
        align-items: center;
        padding: 4rem;
        cursor: pointer; }
        .boxes_4 .box_1_4 h3 {
          font-size: 6.5em; } }
  .boxes_4 #box_class_aerobik {
    background: #213864 url("../img/01.jpg") center; }
  .boxes_4 #box_class_spin {
    background: #213864 url("../img/02.jpg") center; }
  .boxes_4 #box_class_latino {
    background: #213864 url("../img/03.jpg") center; }
  .boxes_4 #box_class_mix {
    background: #213864 url("../img/04.jpg") center; }
  .boxes_4 #box_class_mix, .boxes_4 #box_class_latino, .boxes_4 #box_class_spin, .boxes_4 #box_class_aerobik {
    background-size: 100%;
    transition: all 2s ease-in-out; }
  .boxes_4 .no-image {
    background-image: none !important; }
    .boxes_4 .no-image h3 {
      text-align: left; }
      .boxes_4 .no-image h3 span {
        display: inline; }
    @media screen and (min-width: 640px) {
      .boxes_4 .no-image {
        width: 50%;
        height: 50vh;
        background: #a5d6dd;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2rem;
        color: white; }
        .boxes_4 .no-image p {
          text-align: justify !important;
          text-align-last: left;
          font-size: 1.2em; }
        .boxes_4 .no-image h3 {
          font-size: 3em; } }

#pricing {
  box-sizing: border-box;
  background: #a5d6dd;
  /* Generated with http://gradient.quasi.ink */
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAkUlEQVQYVwXBOQ7CMBBA0T92vCQRp+YWnIMTUNFQQkODhCjSUCDI4jgzvCf7y81ccKQQiOLpfaRrIqEaWgq5z8jherfQRWg8Vo20QUskVqMuhbxLyPHxtNlvVHGIeEIx3KKkRfEIs1Tk9BrsPX0pKDl3eHWUz0hcjZRavmVEzsPHxmniV2ZUFcGBGc7AxLNuyh/KW0geYM9UdQAAAABJRU5ErkJggg==");
  height: auto; }
  @media screen and (min-width: 640px) {
    #pricing {
      height: 100%; } }
  #pricing h2 {
    color: #f6f6f6; }
  #pricing h4 {
    font-size: 1.7em;
    font-weight: bold;
    color: #f6f6f6;
    text-transform: uppercase; }
  #pricing .pricing-boxes {
    margin: 0 auto;
    justify-content: space-between;
    flex-flow: row wrap; }
    #pricing .pricing-boxes .pricing-box {
      padding: 1em 4em;
      width-max: 300px;
      margin: 0 1em;
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05); }
    #pricing .pricing-boxes .price-box {
      font-size: 1.7em;
      padding: 1em 0.5em;
      color: #f6f6f6;
      cursor: pointer; }
      #pricing .pricing-boxes .price-box .price {
        line-height: 1; }
        #pricing .pricing-boxes .price-box .price .numb {
          font-weight: bold;
          font-size: 2em; }
      @media screen and (min-width: 640px) {
        #pricing .pricing-boxes .price-box {
          font-size: 2em; } }
      #pricing .pricing-boxes .price-box :nth-child(2) {
        display: block;
        font-size: 0.6em; }

#timesheet {
  background-size: cover;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAXklEQVQYV12NOQ6AQAwD7cD/H0iBEDVaLfTEKOYoSDWZWA6nrQn/CYKkrSRwPQ4VZKaFua5B86kE175/TYk7JBIcwk3luPTu0FvvFyRiHOxEgHNrqsXieVVcoYhw6ALMgTfF+iBLRgAAAABJRU5ErkJggg==");
  height: auto; }
  @media screen and (min-width: 640px) {
    #timesheet {
      height: 100%; } }
  #timesheet #grafik {
    font-size: 1.5em;
    margin: 0 auto;
    justify-content: center;
    flex-flow: row wrap; }
    #timesheet #grafik .day {
      margin: 0 1em; }
    #timesheet #grafik h4 {
      text-align: center;
      font-size: 1.2em;
      margin-bottom: 1em; }
    #timesheet #grafik .lesson {
      width: 8em;
      height: 5em;
      padding: 0.7em 1em;
      border: 2px solid #f6f6f6;
      margin-bottom: 0.5em; }
    #timesheet #grafik .empty {
      box-shadow: none;
      border: none; }

#contact {
  text-align: left !important;
  color: #213864 !important;
  height: auto;
  overflow-x: hidden; }
  #contact #text-module {
    overflow-x: hidden;
    margin: 2em 0; }
  #contact .row {
    margin-right: 0;
    overflow-x: hidden; }
  #contact h2 {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0.5em; }
    @media screen and (min-width: 640px) {
      #contact h2 {
        font-size: 5em; } }
  #contact #map {
    height: 400px;
    width: 100%; }
  #contact #pool {
    max-height: 450px;
    width: auto;
    margin: 2em 0 0 -7em;
    z-index: 10; }
  #contact #arrow {
    max-width: 100%;
    height: auto;
    margin-left: 3em;
    z-index: 100000; }
  @media screen and (min-width: 640px) {
    #contact .row {
      margin-left: 16%; }
    #contact p {
      font-size: 1.8em;
      max-width: 300px; } }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out; }
    .navbar .page-scroll, .navbar .collapse .page-scroll {
      color: #f6f6f6; }

  .navbar-nav > .active > a {
    background: #a5d6dd !important;
    color: #f6f6f6 !important;
    box-shadow: inset 0 0px 0 #f6f6f6, inset 0 -3px 0 #f6f6f6; }

  .top-nav-collapse {
    padding: 0;
    background: #a5d6dd; }

  #title {
    font-size: 2rem; }

  .navbar-nav {
    float: right; }

  .navigation {
    color: #f6f6f6; }

  .row-margin {
    margin-top: 3em;
    margin-bottom: 3em; } }
footer {
  position: static;
  width: 100%;
  height: auto;
  padding: 1em;
  font-size: 1.2em;
  font-weight: 100;
  box-sizing: border-box;
  background: #213864;
  color: #f6f6f6; }
  footer .row {
    justify-content: space-between; }
  @media screen and (min-width: 640px) {
    footer {
      padding: 1em 2em; } }
  footer h4 {
    font-size: 1em;
    font-weight: 100; }
  footer .info i {
    font-size: 1.5em;
    padding: 0.2em 0.4em; }

/*# sourceMappingURL=style.css.map */
