@import 'variables';

table{
  font-size:0.8em;
  margin:0 auto;
  @include tablet{
    font-size:1.6em;
    margin:0 auto;
  }
  td, th{
    display: inline-block;
    box-sizing: border-box;
    padding:10px;
    width:60px;
    height:50px;
    margin:5px;

    @include tablet {
      display: inline-block;
      padding:10px;
      width:200px;
      height:120px;
    }

  }
  td{
    font-size:1.7em;
    color: $turquoise;

    @include tablet {
      font-size:2em;
    }

    span{
      font-size: 0.4em;
      font-weight: normal;
      display: block;
      color: #2a272c;

    }
  }

  th:nth-child(2){
    border-right: 1px solid rgba(139, 144, 157, 0.18);
    border-left: 1px solid rgba(139, 144, 157, 0.18);
  }

  .min{
    display:inline-block;
    font-size: 1em;
  }
  .max{
    display:none;
  }
  .number{
    width:50px;
    text-transform:uppercase;
    text-align:center;
    .nbr{
      font-size:1.6em;
      display:block;

    }
  }
  .name-row th{
    height:auto;
    padding:0;
    text-align:center;
    text-transform:uppercase;
  }
}

table#grafik{
  td{
    text-transform:uppercase;
    background:$indygo;
    height:70px;
    text-align:center;
    p{
      font-size:0.7em;
      margin-bottom:0.2em;
    }
  }
  .name-row th{
  font-size:1em;

  }
}


//--------------------------------------------------------------------------------------media 767px
@media(min-width:767px){


  table#grafik{
    td{
      text-transform:uppercase;
      background:$indygo;
      height:150px;
      p{
        font-size:0.5em;
        margin-bottom:0.2em;
      }
    }
    .name-row th{
      height:auto;}
  }
}//--------------------------------------end of media query
