@font-face {
  font-family: 'Arcon-Regular';
  src: url('../fonts/Arcon-Regular.otf');
}

$Arcon: 'Arcon-Regular';


$blue: #254d8a;
$snow: #f6f6f6;
$sea: #a5d6dd;
$indygo: #213864;
$turquoise: #45b0c4;

// Mobile breakpoints
@mixin mobile-s {
  @media screen and (min-width: 0px) {
    @content;
  }
}
@mixin mobile-m {
  @media screen and (min-width: 321px) {
    @content;
  }
}
@mixin mobile-l {
  @media screen and (min-width: 376px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 426px) {
    @content;
  }
}
@mixin desktop-s {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin desktop-m {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
@mixin desktop-l {
  @media screen and (min-width: 1367px) {
    @content;
  }
}
